<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
    <link rel="stylesheet"
          th:href="@{/css/study.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
</head>
<body>

	<div class="container mt-5" layout:fragment="content">
	    <div class="row justify-content-center">
	        <div class="col-md-6 col-lg-4">
	            <form method="post" th:action="@{/user/edit/password}"
	                  th:object="${editPasswordForm}">
	                <h2 class="text-center mb-4">パスワード変更</h2>
	                <!-- グローバルエラー -->
				    <div th:if="${#fields.hasGlobalErrors()}"
				         class="alert alert-danger">
				
				        <p th:each="error : ${#fields.globalErrors()}"
				           th:text="${error}"
				           class="mb-0">
				        </p>
				
				    </div>	                
                    <!-- 現行パスワード -->
			        <div class="form-group mb-3">
			            <label for="currentPassword">現在のパスワード</label>
			            <input type="password" id="currentPassword" class="form-control"
			                   th:field="*{currentPassword}"
			                   th:errorclass="is-invalid">
			            <div class="invalid-feedback"
			                 th:errors="*{currentPassword}">
			            </div>
			        </div>
                    <!-- 新パスワード -->
			        <div class="form-group mb-3">
			            <label for="newPassword">新しいパスワード</label>
			            <input type="password" id="newPassword" class="form-control"
			                   th:field="*{newPassword}"
			                   th:errorclass="is-invalid">
			            <div class="invalid-feedback"
			                 th:errors="*{newPassword}">
			            </div>
			        </div>
                    <!-- 新パスワード(確認) -->
			        <div class="form-group mb-3">
			            <label for="newPasswordConfirm">新しいパスワード(確認)</label>
			            <input type="password" id="newPasswordConfirm" class="form-control"
			                   th:field="*{newPasswordConfirm}"
			                   th:errorclass="is-invalid">
			            <div class="invalid-feedback"
			                 th:errors="*{newPasswordConfirm}">
			            </div>
			        </div>
			        <!-- 登録ボタン -->
			        <div class="text-center mt-3">
				        <input type="submit" value="確定"
				            class="btn btn-primary mt-3 ">
			        </div>	
					<div class="text-center mt-3">
					    <a th:href="@{/user/profile}"
					       class="btn btn-secondary">
					        戻る
					    </a>
					</div>				        		        		        
	            </form>
	        </div>
	    </div>
	</div>
</body>
</html>
