<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>English Output Trainer</title>
    <link rel="stylesheet"
          th:href="@{/css/study.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <title th:text="#{signup.title}"></title>
</head>
<body>

	<div class="container mt-5" layout:fragment="content">
	    <div class="row justify-content-center">
	        <div class="col-md-6 col-lg-4">
	            <form method="post" th:action="@{/signup}"
	                  th:object="${signupForm}">
	                <h2 class="text-center mb-4" th:text="#{signup.title}">新規登録</h2>
	                <!-- グローバルエラー -->
				    <div th:if="${#fields.hasGlobalErrors()}"
				         class="alert alert-danger">
				
				        <p th:each="error : ${#fields.globalErrors()}"
				           th:text="${error}"
				           class="mb-0">
				        </p>
				
				    </div>	                
　　　　　　　　　　　　<!-- ユーザーID -->
			        <div class="form-group">
			            <label for="userId" th:text="#{userId}">ユーザーID</label>
			            <input type="text" id="userId" class="form-control"
			                   th:field="*{userId}"
			                   th:errorclass="is-invalid">
			            <div class="invalid-feedback"
			                 th:errors="*{userId}">
			        </div>
                    <!-- 年齢 -->
			        <div class="form-group">
			            <label for="age" th:text="#{age}">年齢</label>
			            <input type="text" id="age" class="form-control"
			                   th:field="*{age}"
			                   th:errorclass="is-invalid">
			            <div class="invalid-feedback"
			                 th:errors="*{age}">
			        </div>
                    <!-- パスワード -->
			        <div class="form-group">
			            <label for="password" th:text="#{password}">パスワード</label>
			            <input type="text" id="password" class="form-control"
			                   th:field="*{password}"
			                   th:errorclass="is-invalid">
			            <div class="invalid-feedback"
			                 th:errors="*{password}">
			        </div>
			        <!-- 登録ボタン -->
			        <div class="form-group">
			            <label for="confirm-password" th:text="#{confirm.password}">パスワード(確認)</label>
			            <input type="text" id="confirm-password" class="form-control"
			                   th:field="*{passwordConfirm}"
			                   th:errorclass="is-invalid">
			            <div class="invalid-feedback"
			                 th:errors="*{passwordConfirm}">
			        </div>	

			        <input type="submit" th:value="#{signup.btn}"
			            class="btn btn-primary w-100 mt-4">
			        <div class="text-center mt-2">
			            <a th:href="@{/login}" th:text="#{login.link}">ログインはこちら</a>
			        </div>			        		        
	            </form>
	        </div>
	    </div>
	</div>
</body>
</html>
