<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Complete</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<div class="text-center"
		 layout:fragment="content">
	    <h1>お疲れさまでした！</h1>
	    <p>この調子でトレーニングを続けていきましょう</p>
		<div class="d-flex flex-column align-items-center gap-2 mt-3">
		
		    <a th:href="@{/}"
		       class="btn btn-secondary">
		        Topに戻る
		    </a>
		
		    <a th:href="@{/study/menu}"
		       class="btn btn-primary">
		        通常学習メニューに戻る
		    </a>
		
		    <a sec:authorize="isAuthenticated()"
		       th:href="@{/review/menu}"
		       class="btn btn-success">
		        復習メニューに戻る
		    </a>
		
		</div>
	</div>
</body>
</html>