<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Output Trainer</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <h1>学習モードを選択してください</h1>
    <p>目的に合わせて学習モードを選びましょう。</p>
	<button type="button"
	        th:unless="${resumable}"
	        onclick="showButton()">
	    新規開始
	</button>
	
	<button type="button"
	        th:if="${resumable}"
	        onclick="if(confirm('学習途中の問題があります。本当に最初から始めますか？')) showButton();">
	    新規開始
	</button>

    <div id="proceedButton" style="display:none;" class="mt-3">
		<a th:href="@{/study/start(mode='sequential')}">順番に出題する</a>
    	</form>
    	<a th:href="@{/study/start(mode='random')}">ランダムに出題する</a>
    	</form>
    </div>

    <form th:if="${resumable}"
    	  th:action="@{/study/resume}" method="get">
        <button type="submit"
        		id="btn">途中から始める</button>
    </form>
	<script>
	function showButton() {
	    document.getElementById("proceedButton").style.display = "block";
	}
	</script>

</body>
</html>