<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Output Trainer</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <h1>学習モードを選択してください</h1>
    <p>目的に合わせて学習モードを選びましょう。</p>

    <form th:action="@{/study/start}" method="get">
        <button type="submit"
        		id="btn">学習を開始する</button>
    </form>
    <form th:if="${resumable}"
    	  th:action="@{/study/resume}" method="get">
        <button type="submit"
        		id="btn">途中から始める</button>
    </form>

</body>
</html>