<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>English Output Trainer</title>
    <link rel="stylesheet"
          th:href="@{/css/study.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <title>ログイン</title>
</head>
<body>
	<div class="container mt-5" layout:fragment="content">
	    <div class="row justify-content-center">
	        <div class="col-md-6 col-lg-4">
	            <form method="post" th:action="@{/login}">
	                <h2 class="text-center mb-4">ログイン</h2>
	                <div th:if="${param.logout}"
	                	 class="text-danger text-center">
					    ログアウトしました
					</div>
					<div class="alert alert-success"
					     th:if="${param.userIdChanged}">
					    ユーザーIDを変更しました。再度ログインしてください。
					</div>	
					<div class="alert alert-success"
					     th:if="${param.passwordChanged}">
					    パスワードを変更しました。再度ログインしてください。
					</div>									
					<div class="text-danger"
					     th:if="${loginErrorMessage}"
					     th:text="${loginErrorMessage}">
					</div>
	                <div class="mb-3">
	                    <input type="text"
	                           class="form-control"
	                           placeholder="ユーザーID"
	                           name="userId">
	                </div>
	                <div class="mb-3">
	                    <input type="password"
	                           class="form-control"
	                           placeholder="パスワード"
	                           name="password">
	                </div>
	                <button type="submit"
	                        class="btn btn-primary w-100">
	                    ログイン
	                </button>
			        <!-- Remember-Me -->
		            <div class="form-group mt-3">
		                <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">
		                <label class="form-check-label" for="remember-me">Remember-Me</label>
		            </div>
	                <div class="text-center mt-3">
	                    <a th:href="@{/signup/signup}">
	                        新規登録はこちら
	                    </a>
	                </div>
					<div class="text-center mt-3">
					    <a th:href="@{/}"
					       class="btn btn-secondary">
					        Topに戻る
					    </a>
					</div>		                
	            </form>
	        </div>
	    </div>
	</div>
	<script th:if="${param.userIdChanged}">
	    history.replaceState({}, "", "/login");
	</script>	
	<script th:if="${param.passwordChanged}">
	    history.replaceState({}, "", "/login");
	</script>	
</body>
</html>
