<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
	<title>English Output Trainer</title>
  <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
    <h1>通常学習</h1>
    <p>頑張りましょう</p>
    <div th:each="question : ${question}" class="mt-3">
        <h2 th:text="${question.japaneseText}">
            日本語問題
        </h2>
        <p th:if="${question.condition != null}">
            条件：
            <span th:text="${question.condition}">
                条件
            </span>
        </p>
        <button type="button"
                class="btn btn-success"
                onclick="showAnswer()">
            解答を見る
        </button>
        <div id="answerArea"
             style="display:none"
             class="mt-3">
            <p>
                解答：
                <span th:text="${question.englishText}">
                    English Answer
                </span>
            </p>
        </div>
    </div>
    <!-- 前へ・次へ -->
    <div class="mt-3">
        <a th:if="${page.hasPrevious()}"
           th:href="@{/study(page=${page.number - 1},size=1)}"
           class="btn btn-primary">
            前の問題へ
        </a>
        <a th:if="${page.hasNext()}"
           th:href="@{/study(page=${page.number + 1},size=1)}"
           class="btn btn-primary">
            次の問題へ
        </a>
    </div>
    <!-- 学習終了 -->
    <div class="mt-3">
        <a th:href="@{/}"
           class="btn btn-danger">
            やめる
        </a>
    </div>
</div>    
    <script>
        function showAnswer() {
            document.getElementById("answerArea").style.display = "block";
        }
    </script>
</body>
</html>