<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>アドミン専用画面</title>

    <link rel="stylesheet"
          th:href="@{/css/study.css}">

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/js/study.js}" defer></script>

</head>

<body>

<div layout:fragment="content"
     class="container pt-3">

    <h2>アドミン専用画面</h2>

    <div class="list-group mt-4">

        <!-- ユーザー管理 -->
        <a th:href="@{/admin/list}"
           class="list-group-item list-group-item-action">

            <i class="bi bi-person-fill me-2"></i>
            ユーザー一覧

        </a>

        <!-- 問題一覧 -->
        <a th:href="@{/admin/question/list}"
           class="list-group-item list-group-item-action">

            <i class="bi bi-card-list me-2"></i>
            問題一覧

        </a>

        <!-- 問題追加 -->
        <a th:href="@{/admin/question/add}"
           class="list-group-item list-group-item-action">

            <i class="bi bi-plus-circle me-2"></i>
            問題追加

        </a>

    </div>

</div>

</body>
</html>
