<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>お気に入り登録一覧</title>
	<link rel="stylesheet" th:href="@{/css/study.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script th:src="@{/js/favorites.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">お気に入り一覧画面</h1>
			<!-- 一覧表示 -->
			<div>
				<table class="table table-striped table-bordered table-hover text-center">
					<thead>
						<tr>
							<th>問題</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${favoritesList}">
						        <td class="text-start align-middle"
						        	th:text="${item.japaneseText}"></td>
						        <td class="align-middle">
								<!-- ここに答えを表示するボタンを追加 -->
									<button type="button"
									        class="detailButton btn btn-outline-primary btn-sm"
									        data-bs-toggle="modal"
									        data-bs-target="#questionDetailModal"
									        th:data-japanese="${item.japaneseText}"
									        th:data-english="${item.englishText}"
									        th:data-alternative="${item.alternativeAnswer}">
									    詳細
									</button>
								</td>
						        <td>
									<button type="button"
									        class="favoriteButton btn p-0 border-0 bg-transparent"
									        th:data-question-id="${item.questionId}">
									
									    <i class="bi bi-heart-fill fs-2 text-danger"></i>
									
									</button>
						        </td>
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
	    <div class="modal fade" id="questionDetailModal">
	    <div class="modal-dialog">
	        <div class="modal-content">
	
	            <div class="modal-header">
	                <h5 class="modal-title">問題詳細</h5>
	                <button type="button"
	                        class="btn-close"
	                        data-bs-dismiss="modal"></button>
	            </div>
	
	            <div class="modal-body">
	            <!-- 詳細をここに表示 -->
					    <p>
					        <strong>日本語</strong><br>
					        <span id="modalJapanese"></span>
					    </p>
					
					    <p>
					        <strong>英語</strong><br>
					        <span id="modalEnglish"></span>
					    </p>
					
					    <p id="modalAlternativeArea">
					        <strong>別解</strong><br>
					        <span id="modalAlternative"></span>
					    </p>
					</div>
		            <div class="modal-footer">
		                <button type="button"
		                        class="btn btn-secondary"
		                        data-bs-dismiss="modal">
		                    閉じる
		                </button>
		            </div>				
	            </div>
	        </div>
	    </div>
	</div>

</div>
</body>
</html>