<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>English Output Trainer</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/js/review.js}" defer></script>
</head>

<body>

<div layout:fragment="content">

    <div class="header border-bottom mb-4">
        <h1 class="h2">復習メニュー</h1>
    </div>

    <form th:action="@{/review/start}" method="get">
		<div class="row">

	        <!-- 出題方法 -->
	        <div class="col-md-6 mb-4">
				
				<div class="card">
	
		            <div class="card-header">
		                出題方法
		            </div>
		
		            <div class="card-body">
		
		                <div class="form-check">
		                    <input class="form-check-input"
		                           type="radio"
		                           name="order"
		                           value="SEQUENTIAL"
		                           checked>
		
		                    <label class="form-check-label">
		                        順番に出題
		                    </label>
		                </div>
		
		                <div class="form-check">
		                    <input class="form-check-input"
		                           type="radio"
		                           name="order"
		                           value="RANDOM">
		
		                    <label class="form-check-label">
		                        ランダムに出題
		                    </label>
		                </div>
		
		            </div>
		            
		    	</div>
	
	        </div>
	
	        <!-- 評価 -->
	        <div class="col-md-6 mb-4">
				
				<div class="card">
	
		            <div class="card-header">
		                評価
		            </div>
		
		            <div class="card-body">
		
		                <div class="row">
		
		                    <div class="col text-center">
		
		                        <div class="form-check">
		                            <input class="form-check-input"
		                                   type="checkbox"
		                                   name="evaluations"
		                                   value="HARD">
		
		                            <label class="form-check-label text-danger fw-bold">
		                                Hard
		                            </label>
		                        </div>
		
		                    </div>
		
		                    <div class="col text-center">
		
		                        <div class="form-check">
		                            <input class="form-check-input"
		                                   type="checkbox"
		                                   name="evaluations"
		                                   value="GOOD">
		
		                            <label class="form-check-label text-primary fw-bold">
		                                Good
		                            </label>
		                        </div>
		
		                    </div>
		
		                    <div class="col text-center">
		
		                        <div class="form-check">
		                            <input class="form-check-input"
		                                   type="checkbox"
		                                   name="evaluations"
		                                   value="EASY">
		
		                            <label class="form-check-label text-success fw-bold">
		                                Easy
		                            </label>
		                        </div>
		
		                    </div>
		
		                </div>
		
		            </div>
		            
		    	</div>
	
	        </div>
	
	        <!-- 問題難易度 -->
	        <div class="col-md-6 mb-4">
				
				<div class="card">
	
		            <div class="card-header">
		                問題難易度
		            </div>
		
		            <div class="card-body">
		
		                <div class="form-check mb-2">
		                    <input class="form-check-input"
		                           type="checkbox"
		                           name="difficulties"
		                           value="BEGINNER">
		
		                    <label class="form-check-label">
		                        初級
		                    </label>
		                </div>
		
		                <div class="form-check mb-2">
		                    <input class="form-check-input"
		                           type="checkbox"
		                           name="difficulties"
		                           value="INTERMEDIATE">
		
		                    <label class="form-check-label">
		                        中級
		                    </label>
		                </div>
		
		                <div class="form-check">
		                    <input class="form-check-input"
		                           type="checkbox"
		                           name="difficulties"
		                           value="ADVANCED">
		
		                    <label class="form-check-label">
		                        上級
		                    </label>
		                </div>
		
		            </div>
				</div>
	        </div>
			<!-- お気に入り -->
			<div class="col-md-6 mb-4">
				
				<div class="card">
			
				    <div class="card-header">
				        お気に入り
				    </div>
				
				    <div class="card-body">
				
				        <div class="form-check mb-2">
				            <input class="form-check-input"
				                   type="radio"
				                   name="favoriteCondition"
				                   value="ALL"
				                   checked>
				
				            <label class="form-check-label">
				                すべて
				            </label>
				        </div>
				
				        <div class="form-check mb-2">
				            <input class="form-check-input"
				                   type="radio"
				                   name="favoriteCondition"
				                   value="FAVORITED">
				
				            <label class="form-check-label">
				                お気に入り登録した問題のみ
				            </label>
				        </div>
				
				        <div class="form-check">
				            <input class="form-check-input"
				                   type="radio"
				                   name="favoriteCondition"
				                   value="NOT_FAVORITED">
				
				            <label class="form-check-label">
				                お気に入り登録していない問題のみ
				            </label>
				        </div>
				
				    </div>
				    
				</div>
			
			</div>
		</div>
        <!-- 出題数 -->
        <div class="text-center mb-4">

            <div class="text-secondary mb-2">
                出題数
            </div>

            <h2 class="fw-bold"
                id="countReviewQuestions">
                -
            </h2>

        </div>

        <!-- 出題開始 -->
        <button type="submit"
                class="btn btn-primary btn-lg w-100">
            出題開始
        </button>

    </form>

</div>

</body>
</html>