<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>English Output Trainer</title>
    <link rel="stylesheet"
          th:href="@{/css/study.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script th:src="@{/js/study.js}" defer></script>
    <meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<body>

<div layout:fragment="content" class="text-center">

    <h1>通常学習</h1>
    <p>頑張りましょう</p>

    <div class="mt-3">

        <span th:text="${nextPageIndex + '/' + totalPages}">
            現在の問題数/総問題数
        </span>

		<div class="d-flex justify-content-center align-items-center gap-3">
		
		    <h2 class="mb-0"
		        th:text="${question.japaneseText}">
		        日本語問題
		    </h2>
		    
		    <div sec:authorize="isAuthenticated()">
			    <button id="favoriteButton"
				        type="button"
				        class="btn p-0 border-0 bg-transparent"
				        th:data-question-id="${question.questionId}">
			
			        <i id="favoriteIcon"
					   th:class="${isFavorite}
					        ? 'bi bi-heart-fill fs-2 text-danger'
					        : 'bi bi-heart fs-2 text-secondary'">
					</i>
			
			    </button>
		    </div>
		</div>

        <div style="min-height:40px;">
            <p th:if="${question.condition != null}">
                条件：
                <span th:text="${question.condition}">
                    条件
                </span>
            </p>
        </div>

        <div style="min-height:80px;">
            <button id="answerButton"
                    type="button"
                    onclick="showAnswer()">
                解答を見る
            </button>

            <div id="answerArea" style="display:none;">
                解答：
                <span th:text="${question.englishText}">
                    English Answer
                </span>
            </div>
        </div>

    </div>

    <!-- 評価 -->
    <div id="evaluationArea"
         sec:authorize="isAuthenticated()"
         class="mt-1 mb-10 d-flex justify-content-center gap-5"
         style="display:none;">

        <form th:action="@{/study/evaluation}" method="post">
            <input type="hidden"
                   name="questionId"
                   th:value="${question.questionId}">
            <input type="hidden"
                   name="evaluation"
                   value="HARD">
            <input type="hidden"
                   name="page"
                   th:value="${nextPageIndex - 1}">

            <button type="submit" class="btn btn-danger btn-lg">
                Hard（難しかった）
            </button>
        </form>

        <form th:action="@{/study/evaluation}" method="post">
            <input type="hidden"
                   name="questionId"
                   th:value="${question.questionId}">
            <input type="hidden"
                   name="evaluation"
                   value="GOOD">
            <input type="hidden"
                   name="page"
                   th:value="${nextPageIndex - 1}">

            <button type="submit" class="btn btn-success btn-lg">
                Good（少し考えた）
            </button>
        </form>

        <form th:action="@{/study/evaluation}" method="post">
            <input type="hidden"
                   name="questionId"
                   th:value="${question.questionId}">
            <input type="hidden"
                   name="evaluation"
                   value="EASY">
            <input type="hidden"
                   name="page"
                   th:value="${nextPageIndex - 1}">

            <button type="submit" class="btn btn-primary btn-lg">
                Easy（余裕だった）
            </button>
        </form>

    </div>

    <!-- 前へ・次へ -->
    <div class="mb-5 d-flex justify-content-center gap-4"
         style="margin-top:60px;">

        <a th:if="${hasPrevious}"
           th:href="@{/study/question(page=${nextPageIndex - 2})}"
           class="btn btn-outline-primary">
            前の問題へ
        </a>

        <a th:if="${hasNext}"
           th:href="@{/study/question(page=${nextPageIndex})}"
           class="btn btn-outline-primary">
            次の問題へ
        </a>

        <a th:if="${!hasNext}"
           th:href="@{/study/complete}"
           class="btn btn-info">
            Complete
        </a>

    </div>

    <!-- 学習中断・終了 -->
    <div class="d-flex justify-content-center gap-3"
         style="margin-top:90px;">

        <a th:href="@{/study/suspend(page=${nextPageIndex - 1})}"
           onclick="return confirm('学習を中断しますか？');"
           class="btn btn-outline-danger btn-sm"
           style="width:100px;">
            中断する
        </a>

        <a th:href="@{/study/quit}"
           onclick="return confirm('学習を終了しますか？');"
           class="btn btn-outline-danger btn-sm"
           style="width:100px;">
            やめる
        </a>

    </div>

</div>

</body>
</html>